<a href="https://colab.research.google.com/github/AbhishekSharma70/ML-Algorithms/blob/main/NaiveBayes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("titanic.csv")
df.head()

,PassengerID,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3.0,male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,0.0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1.0,female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,1.0
2,3,"Heikkinen, Miss. Laina",3.0,female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,1.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1.0,female,35.0,1.0,0.0,113803,53.1000,C123,S,1.0
4,5,"Allen, Mr. William Henry",3.0,male,35.0,0.0,0.0,373450,8.0500,NaN,S,0.0

In [ ]:
df=df.drop(['PassengerID','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [ ]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0     3.0    male  22.0   7.2500       0.0
1     1.0  female  38.0  71.2833       1.0
2     3.0  female  26.0   7.9250       1.0
3     1.0  female  35.0  53.1000       1.0
4     3.0    male  35.0   8.0500       0.0

In [ ]:
inputs=df.drop(['Survived'],axis='columns')
target=df.Survived

In [ ]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [ ]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0     3.0    male  22.0   7.2500       0     1
1     1.0  female  38.0  71.2833       1     0
2     3.0  female  26.0   7.9250       1     0

In [ ]:
inputs=inputs.drop(['Sex','male'],axis='columns')
inputs.head(3)

   Pclass   Age     Fare  female
0     3.0  22.0   7.2500       0
1     1.0  38.0  71.2833       1
2     3.0  26.0   7.9250       1

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Pclass', 'Age', 'Fare'], dtype='object')

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Pclass[:10]

0    3.0
1    1.0
2    3.0
3    1.0
4    3.0
5    3.0
6    1.0
7    3.0
8    3.0
9    2.0
Name: Pclass, dtype: float64

In [ ]:
inputs.Fare[:10]

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
5     8.4583
6    51.8625
7    21.0750
8    11.1333
9    30.0708
Name: Fare, dtype: float64

In [ ]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.Pclass=inputs.Pclass.fillna(inputs.Pclass.mean())
inputs.Fare=inputs.Fare.fillna(inputs.Fare.mean())

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [ ]:
model.fit(X_train,Y_train)

GaussianNB()

In [ ]:
Y_predicted=model.predict(X_test)

In [ ]:
X_test[:10]

     Pclass    Age     Fare  female
383     1.0  35.00  52.0000       1
432     2.0  42.00  26.0000       1
78      2.0   0.83  29.0000       0
363     3.0  35.00   7.0500       0
290     1.0  26.00  78.8500       1
357     2.0  38.00  13.0000       1
30      1.0  40.00  27.7208       0
386     3.0   1.00  46.9000       0
336     1.0  29.00  66.6000       0
286     3.0  30.00   9.5000       0

In [ ]:
Y_test[:10]

383    1.0
432    1.0
78     1.0
363    0.0
290    1.0
357    0.0
30     0.0
386    0.0
336    0.0
286    1.0
Name: Survived, dtype: float64

In [ ]:
Y_predicted[:10]

array([1., 1., 0., 0., 1., 1., 0., 0., 0., 0.])

In [ ]:
model.predict_proba(X_test[:10])

array([[0.0862273 , 0.9137727 ],
       [0.29715199, 0.70284801],
       [0.90541191, 0.09458809],
       [0.95064229, 0.04935771],
       [0.0399199 , 0.9600801 ],
       [0.27473656, 0.72526344],
       [0.82059642, 0.17940358],
       [0.93400707, 0.06599293],
       [0.65504129, 0.34495871],
       [0.94516337, 0.05483663]])

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train,Y_train,cv=5)

array([0.85507246, 0.76811594, 0.8115942 , 0.72463768, 0.73913043])